<div class="col-md-7" ng-show="incidents">
			
		<div class="row">
			<div class="col-sm-6 text-right"><label>Search: <input ng-model="searchText"></label></div>
		</div>
	
		<table class="table table-striped table-hover">
			<tr>
				<th>Label</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th></th>
				<th></th>
			</tr>
			<!-- <tr ng-repeat="profile in status['saved-server-profiles']"> -->
			<tr ng-repeat="incident in incidents.slice(((currentPage-1)*pageSize), ((currentPage)*pageSize)) | filter:searchText track by $index ">
				<td  ng-click="profile({id:profile.id})">{{profile.name}}</td>
				<td>{{profile.startTime | date: 'MMM dd yyyy h:mm a'}}</td>
				<td>{{profile.endTime | date: 'MMM dd yyyy h:mm a'}}</td>
				<td>
					<a ui-sref="incident({id:incident.id})"><span class="glyphbutton glyphicons list" title="Review this Incident"></span></a>
				</td>
				<td>
					<a ui-sref="removeIncident({id:incident.id})"><span class="glyphbutton glyphicons remove" ng-click="removeIncident({id:incident.id})" title="Delete this Incident"></span></a>
				</td>
				
			</tr>
			<tr ng-show="incidents.length==0">
				<td colspan="6">No Incidents Recorded.</td>
			</tr>
		</table>

		<pagination ng-show="status['saved-server-profiles'].length > pageSize" ng-model="currentPage" total-items="status['saved-server-profiles'].length" items-per-page="pageSize" class="pagination-sm"></pagination>

</div>