<div class="requestList" ng-hide="lookingRequest.on">
	<table class="table table-striped table-hover table-condensed results">
		<thead>
			<tr>
				<th ng-click="sortType = 'url'; sortReverse = !sortReverse">
		            Request
		            <span ng-show="sortType == 'url' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'url' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'completed'; sortReverse = !sortReverse">
		            Completed 
		            <span ng-show="sortType == 'completed' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'completed' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'ip'; sortReverse = !sortReverse">
		            From IP
		            <span ng-show="sortType == 'ip' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'ip' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'responseCode'; sortReverse = !sortReverse">
		            Response
		            <span ng-show="sortType == 'responseCode' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'responseCode' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'time'; sortReverse = !sortReverse">
		            Elapsed
		            <span ng-show="sortType == 'time' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'time' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'queryCount'; sortReverse = !sortReverse">
		            Queries
		            <span ng-show="sortType == 'queryCount' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'queryCount' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'queryTime'; sortReverse = !sortReverse">
		            QryTime
		            <span ng-show="sortType == 'queryTime' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'queryTime' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'longQueryElapsed'; sortReverse = !sortReverse">
		            LongQry
		            <span ng-show="sortType == 'longQueryElapsed' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'longQueryElapsed' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'longQueryRows'; sortReverse = !sortReverse">
		            Rows
		            <span ng-show="sortType == 'longQueryRows' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'longQueryRows' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortType = 'longQuerySql'; sortReverse = !sortReverse"> 
		            SQL
		            <span ng-show="sortType == 'longQuerySql' && !sortReverse" class="caret"></span>
		            <span ng-show="sortType == 'longQuerySql' && sortReverse" class="dropup"><span class="caret"></span></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="pages.length==0 && !busy"> 
				<td colspan="10">No recent requests.</td>
			</tr>
			<!-- <tr><td colspan=8>{{pages[0] | json}}</td></tr> -->
			<tr class="requestRow" ng-repeat="page in pages | orderBy:sortType:sortReverse" ng-class="{highlighted:page.pid === detailRequestNumber}">
				<td><button ng-click="open(page)"  ng-if="clickableURLs" title="Open this URL"><span class="glyphicons share green"></span></button> <span ng-click="requestDetails(page)">{{page.url | limitTo : 70}}</span><span ng-show="page.url.length > 70">...</span></td>
				<td><span ng-show="displayRelativeTimes">{{page.completedAgoMs | millSecondsToTimeString}} ago</span><span ng-show="!displayRelativeTimes">{{page.completed | date:'mediumTime' | lowercase}}</span></td>
				<td nowrap>
					<span ng-show="dosEnabled" class="glyphicons ban" ng-click="addBlock(page.ip)" title="Block {{page.ip}}"></span>
					<span ng-show="clickableIPURL" class="glyphicons globe" ng-click="open(clickableIPURL + page.ip)" title="IP info"></span>
					{{page.ip}}
				</td> 
				<td>{{page.responseCode}}<span ng-show="page.timeToFirstByte > 0">@{{page.timeToFirstByte}}ms</span></td>
				<td>{{page.time}}ms</td>
				<td>{{page.queryCount}}</td>
				<td>{{page.queryTime}}ms</td>
				<td>{{page.longQueryElapsed}}ms</td>
				<td>{{page.longQueryRows}}</td>
				<td><span ng-click="requestDetails(page)">{{page.longQuerySql | limitTo : 70}}</span><span ng-show="page.longQuerySql.length > 70">...</span></td>
			</tr> 
		</tbody>
	</table>
</div> 